.form-input{
    display: flex;
    flex-direction: column;
}
.size-input{
    width: 260px;
    height: 40px;
    outline: none;
}
.select-form{
    width: 100%;
    height: 40px;
}

.massage-form{
    width: 100;
    padding-bottom: 60px;
    outline: none;
}


.hint-form{
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.btn-form{
    background-color: var(--primaryBlue-color);
    color: aliceblue;
}