.p_title{
    color: var(--secBlue-color);
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}
.hr{
    border-top: 0.5px var(--lightGrey-color) solid;
    width: 100%;
    opacity: .5;
}