:root{
  /* ////////////////color//////////// */
  --main-font: 'Lexend', sans-serif;
  --babyBlue-color: #69DEEF;
  --primaryBlue-color: #2C60F2;
  --secBlue-color: #102EA8;
  --darkGreen-color: #3F484A;
  --lightGrey-color: #E5E5E5;
  --lightBlue-color: #F4F7FE;
  --darkBlue-color: #001550;
  --lightWhite-color: #F4F2FF;
  --white-color: #fff;
  --black-color: #000;
  --lightGrey2-color: #6F797A;
  --lightGrey3-color:#f3f3ee87;
  --lightGrey4-color:#9aa3a5;
  /* ////////////////color//////////// */

  /* ////////////////fontSize//////////// */
  /* 1rem = 16px */
  --fs-25:1.5rem;
  --fs-22:22px;
  --fs-16:16px;
  --fs-39: 39px;
  /* ////////////////fontSize//////////// */
  /* ////////////////fontWeight//////////// */
  --fw-700:700;
  --fw-500:500;
}
.bold-700{
  font-weight: 700;
}
/* ////////////color///////// */
.babyBlue{
  color: var(--babyBlue-color);
}
.primaryBlue{
color: var(--primaryBlue-color);
}
.secBlue{
  color: var(--secBlue-color);
}
.darkGreen{
  color: var(--darkGreen-color);
}
.lightGrey{
  color: var(--lightGrey-color);
}
.lightBlue{
  color: var(--lightBlue-color);
}
.darkBlue{
  color: var(--darkBlue-color);
}
.lightWhite{
  color: var(--lightWhite-color);
}
.white{
  color: var(--white-color);
}
.lightGrey2{
  color: var(--lightGrey2-color);
}
.black{
  color: var(--black-color);
}
.lightGrey3{
  color: var(--lightGrey3-color);
}
.lightGrey4{
  color: var(--lightGrey4-color);
}

    /* ////////////////color//////////// */

  /* ////////////////fontSize//////////// */
  .fs-25{
    font-size: var(--fs-25);
  }
  .fs-22{
    font-size: var(--fs-22);
  }
  .fs-16{
    font-size: var(--fs-16);
  }
  .fs-39{
    font-size: var(--fs-39);
  }
    /* ////////////////fontSize//////////// */


  /* ////////////////fontWeight//////////// */
  .fw-700{
    font-weight: var(--fw-700);
  }
  .fw-500{
    font-weight: 500;
  }
    /* ////////////////fontWeight//////////// */
body{
  font-family: var(--main-font);
  padding: 0;
  margin: 0;
}
/* gitters */
.py_5{
  padding-top: 5rem;
  padding-bottom: 5rem;
}
/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--lightBlue-color); 
  border-radius: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secBlue-color); 
  border-radius: 0px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secBlue-color); 
}
/* links */
.nav-link:not(.active):hover span::after{
  transform: scaleX(1);
}
/* buttons */
.btn:hover{
  transform: scale(.97);
}
.navbar-toggler{
  border: none;
}
/* slick */
.slick-prev, .slick-next {
  background: black;
}
.slick-slide > div{
  display: flex;
  align-items: center;
}
.slick-slide > div > div{
  display: flex !important;
  justify-content: center;
}
/* parallax_bg */
.parallax_bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 35rem;
    z-index: 9;
}
.parallax_bg_gradiant::after{
  content: '';
  background: linear-gradient(182deg, rgba(44, 96, 242, 0.20) 0%, rgba(62, 69, 88, 0.56) 47.89%, rgba(44, 96, 242, 0.00) 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/* breadcrumb */
.breadcrumb-item a{
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
}
.breadcrumb-item+.breadcrumb-item::before {
  color: var(--white-color);
}
.breadcrumb-item.active {
  color: var(--white-color);
  opacity: .8;
}

.service-title {
  color: var(--primaryBlue-color);
  font-weight: 600;
  font-size: 24px;
}